body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

/* Inputs */
input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

/* Mobile */
@media(max-width:700px){
  .sidebar {
    width: 70px;
  }
  .sidebar button {
    font-size: 10px;
  }
}
